.ContainerStyle:hover {
    /* background-color: #FAFAFA !important; */
    transition: background-color 0.3s;
}

.ContainerStyle:not(:hover) {
    /* background-color: rgb(241, 243, 245); */
    transition: background-color 0.3s;
}


.TagText:hover {
    color: black !important;
    transition: background-color 0.3s;
}

.TagText:not(:hover) {
    transition: background-color 0.3s;
}