.ContainerStyle:hover {
    transition: background-color 0.3s;
}

.ContainerStyle:not(:hover) {
    transition: background-color 0.3s;
}


.TagText:hover {
    color: black !important;
    transition: background-color 0.3s;
}

.TagText:not(:hover) {
    transition: background-color 0.3s;
}