@font-face {
    font-family: "noto-sans-medium-en";
    src: url("../fonts/NotoSans-Medium.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 249, 250);
    font-family: "Noto Sans KR", "noto-sans-medium-en";
    font-weight: 300;
}

.container {
    overflow: auto;
}


button {
    border: none;
    background-color: transparent;
    padding: 0;
}


button:hover {
    cursor: pointer;
}


button div {
    background-color: transparent;
    transition: none;
}


.topMenu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 69px;
    vertical-align: middle;
    justify-content: space-between;
    background-color: rgb(248, 249, 250);
    z-index: 2;
    border-bottom: 1px solid #E0E0E0;
}


a {
    text-decoration: none;
    color: black;
}


.navLinks {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}


.navLinks li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 17px;
    margin: 0;
    width: 120px;
    height: 70px;
}


.navLinks li:hover {
    cursor: pointer;
}


.navLinks li:after {
    content: '';
    display: block;
    position: absolute;
    top: 67px;
    left: 50%;
    width: 0%;
    height: 3px;
    box-sizing: border-box;
    border-bottom: 3px solid #212121;
    transition: width 0.4s, left 0.4s;
}


.navLinks li:hover:after {
    width: 100%;
    left: 0;
}


.navLinkText {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.mobileLogo {
    display: none;
}


.searchBox {
    margin: 15px 30px 15px 30px;
    padding: 0px 15px 0px 15px;
    background-color: #EEEEEE;
    stroke: #EEEEEE;
    text-align: left;
    border: none;
    border-radius: 30px;
    height: 40px;
}
.searchBox:focus {
    outline: none;
}


.childrenContainer {
    padding-top: 70px;
    z-index: 1;
    height: inherit;
}


.sideMenu {
    position: absolute;
    width: 375px;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    z-index: 3;
    display: none;
}


.sideLinks {
    list-style: none;
    text-align: left;
    vertical-align: middle;
    padding: 0px 15px;
    margin-top: 0;
}


.sideLinks li {
    font-size: 20px;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sideLinks li:hover {
    font-weight: 600;
    cursor: pointer;
}


.sideLogo {
    height: 70px;
    font-size: 25px;
    text-align: center;
    margin: 0 55px;
    border-bottom: 1px solid #757575;
}


.mobileLogo {
}


@media screen and (max-width: 699px) {
    /* 모바일 및 테블릿 세로 */
    .navLinks {
        display: none;
    }
    .mobileLogo {
        display: block;
    }
    .sideMenu {
        width: 100%;
    }
    .SideMenuButton {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    /* 테블릿 가로 및 데스크탑 */
    .navLinks {
        display: flex;
    }
    .SideMenuButton {
        display: none;
    }
}
