@font-face {
    font-family: "comfortaa";
    src: url("../fonts/Comfortaa-Medium.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "noto-sans-light";
    src: url("../fonts/NotoSansCJKkr-Light.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-thin";
    src: url("../fonts/NotoSansCJKkr-Thin.otf");
    unicode-range: U+AC00-U+D7A3;
}

.container {
    width: 100%;
}


.topMenu {
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    vertical-align: middle;
    justify-content: space-between;
}
.topLogo {
    padding: 15px 15px 15px 15px;
    margin: 0px 15px 0px 15px;
    text-align: center;
    vertical-align: middle;
    font-family: "comfortaa", "noto-sans-thin";
}


.navLinks {
    display: flex;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    padding: 0px 30px 0px 30px;
}


.navLinks li {
    font-size: 17px;
    margin: 5px 35px 5px 35px;
    text-align: center;
}
.navLinkText:link {
    font-family: "comfortaa", "noto-sans-thin";
    text-decoration: none;
    color: black;
}
.navLinkText:hover {
    font-family: "comfortaa", "noto-sans-thin";
    text-decoration: none;
    color: black;
}
.navLinkText:active {
    font-family: "comfortaa", "noto-sans-thin";
    text-decoration: none;
    color: black;
}
.navLinkText:visited {
    font-family: "comfortaa", "noto-sans-thin";
    text-decoration: none;
    color: black;
}


.navToggle {
    display: none;
    padding-top: 17px;
}


.searchBox {
    margin: 15px 30px 15px 30px;
    padding: 0px 15px 0px 15px;
    background-color: #EEEEEE;
    stroke: #EEEEEE;
    text-align: left;
    border: none;
    border-radius: 30px;
    font-family: "comfortaa", "noto-sans-thin";
    height: 40px;
}
.searchBox:focus {
    outline: none;
}


.childrenContainer {
    padding: 70px 15px 15px 15px;
    font-family: "comfortaa", "noto-sans-light";
    font-size: 30px;
    overflow: hidden;
}



@media screen and (max-width: 970px) {
    /* 모바일 및 테블릿 세로 */
    .navLinks {
        flex-direction: column;
    }
    .navToggle {
        display: block;
    }
    .navLinks {
        padding: 0px;
    }

    .liAbout {
        display: none;
    }
    .liPosts {
        display: none;
    }
    .liPhotos {
        display: none;
    }
    .liDesigns {
        display: none;
    }
    .liNow {
        display: block;
    }
}

@media screen and (min-width: 971px) {
    /* 테블릿 가로 및 데스크탑 */
    .navToggle {
        display: none;
    }
    .liNow {
        display: none;
    }

    .navLinks {
        flex-direction: row;
    }
    
    .liAbout {
        display: block;
    }
    .liPosts {
        display: block;
    }
    .liPhotos {
        display: block;
    }
    .liDesigns {
        display: block;
    }
}
