:root {
    --background-color: rgb(248, 249, 250);
    --background-color-white: rgb(255, 255, 255);
}


body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color-white);
    font-family: "Nanum Gothic", sans-serif;
    font-weight: normal;
    min-width: 340px;
    -webkit-font-smoothing: antialiased;
}


body p {
    line-height: 150%;
}

.container {
    overflow: auto;
}


.topMenu button, .sideMenu button {
    border: none;
    background-color: transparent;
    padding: 0;
}


.topMenu button:hover, .sideMenu button:hover {
    cursor: pointer;
}


.topMenu button div, .sideMenu button div {
    background-color: transparent;
    transition: none;
}


.topMenu {
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    width: 100%;
    height: 69px;
    vertical-align: middle;
    justify-content: space-between;
    background-color: var(--background-color-white);
    z-index: 2;
    /* border-bottom: 1px solid #E0E0E0; */
}


a {
    text-decoration: none;
    color: black;
}


.navLinks {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}


.navLinks li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
    margin: auto 15px;
    font-weight: 600;
}


.navLinkText {
    text-decoration: none;
    height: 100%;
    margin: 20px 10px;
}


.navLinkText:hover {
    color: #0091EA;
    transition: color 0.3s;
}


.navLinkText:not(:hover) {
    color: black;
    transition: color 0.3s;
}


.mobileLogo {
    display: none;
}


.searchBox {
    margin: 15px 30px 15px 30px;
    padding: 0px 15px 0px 15px;
    background-color: #EEEEEE;
    stroke: #EEEEEE;
    text-align: left;
    border: none;
    border-radius: 30px;
    height: 40px;
}
.searchBox:focus {
    outline: none;
}


.childrenContainer {
    /* padding-top: 70px; */
    z-index: 1;
    height: inherit;
    overflow-x: hidden;
}


.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100%;
    max-width: 400px;
    background-color: white;
    z-index: 4;
    display: none;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    z-index: 3;
    display: none;
}


.sideLinks {
    list-style: none;
    text-align: left;
    vertical-align: middle;
    padding: 0px 15px;
    margin-top: 20px;
    font-weight: 600;
    align-items: left;
}


.sideLinks li {
    width: inherit;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-left: 40px;
}


.sideLinks li:hover {
    font-weight: 600;
    cursor: pointer;
}


.sideNavLinkText {
    color: #212121;
    text-decoration: none;
    height: 100%;
    margin: 20px 10px;
}


.sideNavLinkText:hover {
    color: #0091EA;
    transition: color 0.3s;
}


.sideNavLinkText:not(:hover) {
    color: #212121;
    transition: color 0.3s;
}


.navTagText {
    font-size: 1rem;
    margin: 10px auto 10px 30px;
    font-weight: lighter;
    color: #9E9E9E;
}


.navTagText:hover {
    color: #616161;
    transition: color 0.3s;
}


.navTagText:not(:hover) {
    color: #9E9E9E;
    transition: color 0.3s;
}


.sideLogo {
    height: 70px;
    font-size: 25px;
    text-align: center;
    margin: 0 45px;
    border-bottom: 1px solid #757575;
}



@media screen and (max-width: 599px) {
    /* 모바일 및 테블릿 세로 */
    .navLinks {
        display: none;
    }
    .mobileLogo {
        display: block;
    }
    .sideMenu {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    /* 테블릿 가로 및 데스크탑 */
    .navLinks {
        display: flex;
    }
}
