.container {
    margin: 20px;
}


.ViewPost {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-rows: 1fr;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
}


@media screen and (max-width: 699px) {
    .ViewPost {
        grid-auto-rows: auto;
    }
}


@media screen and (min-width: 700px) {
    .ViewPost {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 40%;
    }
    .container {
        margin: 20px 10%;
    }
}


@media screen and (min-width: 1024px) {
    .ViewPost {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }
}