.container {
    display: grid;
    max-width: 1200px;
    /* grid-template-columns: 0.4fr 1fr; */
    grid-template-columns: 1fr;
    margin: 0 auto 70px auto;
    height: inherit;
}


.profileDiv {
    height: min-content;
    display: flex;
    /* min-width: 210px; */
    flex-direction: column;
    justify-content: left;
    /* margin: 0 20px 0 30px; */
    margin: 0 60px;
    padding: 0;
    /* border-right: 2px solid;
    border-image: linear-gradient(to top, var(--background-color-white), #EEEEEE, var(--background-color-white));
    border-image-slice: 1; */
}


.profileImage {
    width: 70px;
    height: 70px;
    margin: 70px auto 20px 0;
    border-radius: 50% !important;
    isolation: isolate;
}


.descriptions {
    text-align: left;
    margin: 10px 0;
}


.ViewPost {
    margin: 0 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding: 20px 0 5px 0;
}


.TagList {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 40px;
}


@media screen and (max-width: 799px) {
    .ViewPost {
        margin: 0 20px 40px 20px;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .profileDiv {
        margin: 0 40px;
    }
}