.container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 0.4fr 1fr;
    margin: 0 auto;
    height: inherit;
}


.profileDiv {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 0;
    border-right: 2px solid;
    border-image: linear-gradient(to top, var(--background-color-white), #EEEEEE, var(--background-color-white));
    border-image-slice: 1;
}


.profileImage {
    width: 70px;
    height: 70px;
    margin: 70px 25px 20px auto;
    border-radius: 50% !important;
    isolation: isolate;
}


.descriptions {
    text-align: right;
    margin: 10px 30px;
}


.ViewPost {
    margin: 0 auto;
    padding: 0 20px 5px 20px;
}


.TagList {
    display: flex;
    justify-content: right;
    flex-flow: row wrap;
    overflow: auto;
    width: inherit;
    margin: 20px auto;
    padding: 40px 20px 40px 0;
}


@media screen and (max-width: 849px) {
    .container {
        grid-template-columns: 1fr;
    }
    .profileDiv {
        border: none;
        margin: 0 20px 20px 20px;
        border-bottom: 1px solid #F5F5F5;
    }
    .descriptions {
        text-align: center;
    }
    .profileImage {
        margin: 70px auto 20px auto;
    }
    .TagList {
        justify-content: center;
    }
}


@media screen and (max-width: 599px) {
    .ViewPost {
        padding: 0 0 5px 0;
        border-top: 1px solid #F5F5F5;
        padding-top: 20px;
    }
    .profileDiv {
        border: none;
    }
}