@font-face {
    font-family: "noto-sans-light-ko";
    src: url("../../components/fonts/NotoSansKR-Light.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-thin-ko";
    src: url("../../components/fonts/NotoSansKR-Thin.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-medium-ko";
    src: url("../../components/fonts/NotoSansKR-Medium.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-bold-ko";
    src: url("../../components/fonts/NotoSansKR-Bold.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-light-en";
    src: url("../../components/fonts/NotoSans-Light.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "noto-sans-thin-en";
    src: url("../../components/fonts/NotoSans-thin.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "noto-sans-medium-en";
    src: url("../../components/fonts/NotoSans-Medium.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "noto-sans-bold-en";
    src: url("../../components/fonts/NotoSans-Bold.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}


.container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
}


.category {
    font-size: 1rem;
    font-family: "noto-sans-light-ko", "noto-sans-light-en";
    margin-bottom: 20px;
}


.title {
    font-size: 2rem;
    font-family: "noto-sans-bold-ko", "noto-sans-bold-en";
    margin: 20px 0;
    text-align: 'left';
}


.date {
    font-size: 1rem;
    font-family: "noto-sans-light-ko", "noto-sans-light-en";
    color: '#9E9E9E';
    margin: 20px 0 60px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0
}


.content {
    font-size: 1rem;
    font-family: "noto-sans-light-ko", "noto-sans-light-en";
}