.container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    overflow: auto;
}


.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0 40px 0;
    text-align: 'left';
}


.bottomDiv {
    margin-bottom: 100px;
    border-bottom: 1px solid #E0E0E0;
}


.category {
    padding-right: 10px;
    margin-right: 10px;
}


.date {
    font-size: 1rem;
    color: '#9E9E9E';
}


.content {
    font-size: 1rem;
    white-space: pre;
}