.container {
    width: 90%;
    max-width: 750px;
    margin: 120px auto 30px auto;
    overflow: auto;
    font-family: 'Gowun Dodum', sans-serif !important;
}


.titleBackground {
    background-color: #424242;
    /* background-color: #616161; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 384px;
    z-index: -1;
}


.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0 40px 0;
    text-align: center;
    color: white;
}


.bottomDiv {
    margin-bottom: 80px;
    font-size: 16px;
    /* border-bottom: 1px solid #E0E0E0; */
}


.category {
    padding-right: 10px;
    margin-right: 10px;
}


.date {
    font-size: 1rem;
    text-align: center;
    margin: 15px 0 40px 0;
}


.content {
    white-space: pre;
    line-height: 250%;
}


.bottomMenu {
    margin-top: 150px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.BottomPostItem {
    display: flex;
    position: relative;
    background-color: #FAFAFA;
    border-radius: 10px;
    margin: 0 0 20px 0;
    padding: 15px;
    /* width: 250px; */
    width: 100%;
    height: 50px;
}


.BottomPostItem p {
    margin: 0;
    font-size: 0.9rem;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 40px auto;
}

th, td {
    border: 1px solid #E0E0E0;
    margin: 0;
    padding: 10px 20px;
    height: 30px;
    text-align: center;
    width: fit-content;
    /* line-height: 180%; */
}

th {
    background-color: #EEEEEE;
}

blockquote {
    border-left: 5px solid #689F38;
    margin: 32px 10px 32px 0;
    padding: 20px 20px;
    background-color: #F1F8E9;
}

blockquote p {
    margin: 5px 0;
    font-size: 18px;
}

p {
    height: max-content;
    font-size: 18px;
}

li {
    margin: 12px 0;
    font-size: 18px;
}