:root {
    --main-header-height: 500px;
}


body {
    margin-top: 0;
}


.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 40px 80px 40px;
}


.menu {
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}


.menuNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}


.menuItem {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 40px 40px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}


.menuItem:hover {
    border: 1px solid #5E35B1;
    transition: border 0.3s;
}


.menuItem:not(:hover) {
    border: 1px solid #EEEEEE;
    transition: border 0.3s;
}


.menuItem p {
    margin: 0;
    height: 24px;
}


@media screen and (max-width: 879px) {
    .menuNav {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 599px) {
    .menuNav {
        grid-template-columns: 1fr;
    }
}