body {
    margin-top: 0%;
}

.container {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.container p {
    font-size: 17px;
}


.latestPosts {
    margin: 40px auto;
    padding: 15px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.latestPosts p {
    font-size: 17px;
}


