.container {
    /* overflow: hidden; */
    /* margin: 0 0 20px 0;
    padding: 0 0 20px 0; */
    /* border-bottom: 1px solid #F5F5F5; */
    -webkit-font-smoothing: antialiased;
    font-family: 'Gowun Dodum' !important;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin: 0;
    padding: 40px 40px;
}

.container:hover {
    border: 1px solid #5E35B1;
    transition: border 0.3s;
}

.container:not(:hover) {
    border: 1px solid #EEEEEE;
    transition: border 0.3s;
}


.ThumbnailImage {
    margin: 0;
    height: 180px !important;
    overflow: hidden;
}


.PostInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.postContent, .postTitle {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}


.postTitle {
    font-size: 20px;
    font-weight: 800;
    -webkit-line-clamp: 2;
    margin: 8px 0 16px 0;
}


.postContent {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    -webkit-line-clamp: 2;
    line-height: 180%;
    margin: 8px 0 0 0;
}


a {
    text-decoration: none;
}


@media screen and (max-width: 649px) {
    .container {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr !important;
    }

    .PostInfo {
        order: 2;
    }

    .ThumbnailImage {
        margin-bottom: 20px;
        height: calc(100vw * 0.6) !important;
    }
}