.container {
    display: grid;
    text-align: left;
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 6%) 0px 4px 16px 0px; 
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin-bottom: 30px;
}


.ThumbnailImage {
    max-width: 100%;
    height: auto;
    margin: 0;
    cursor: pointer;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}


.PostInfo {
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}


.postContent, .postTitle {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.postContent {
    font-size: 0.9rem;
    margin: 0 30px;
    color: #757575;
}


.postTitle {
    font-size: 1.25rem;
    margin: 20px 30px 10px 30px;
    font-weight: 600;
}


.bottomItem {
    font-size: 0.9rem;
    margin: 0 30px 10px 30px;
}


a {
    text-decoration: none;
    height: auto;
}


@media screen and (max-width: 699px) {
    .container {
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #E0E0E0;
    }
    .postTitle {
        margin: 20px 5px 10px 5px;
    }
    .postContent {
        margin: 0 5px;
    }
    .bottomItem {
        margin: 0 5px 40px 5px;
    }
    .ThumbnailImage {
        margin-top: 30px;
    }
}