@font-face {
    font-family: "noto-sans-light-ko";
    src: url("../fonts/NotoSansKR-Light.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-thin-ko";
    src: url("../fonts/NotoSansKR-Thin.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-medium-ko";
    src: url("../fonts/NotoSansKR-Medium.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-bold-ko";
    src: url("../fonts/NotoSansKR-Bold.otf");
    unicode-range: U+AC00-U+D7A3;
}
@font-face {
    font-family: "noto-sans-thin-en";
    src: url("../fonts/NotoSans-Light.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "noto-sans-medium-en";
    src: url("../fonts/NotoSans-Medium.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: "noto-sans-bold-en";
    src: url("../fonts/NotoSans-Bold.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 10px auto 20px auto;
    margin: 0;
    width: 100%;
    max-width: 700px;
    border-bottom: 1px solid #EEEEEE;
}


.ThumbnailImage {
    max-height: 400px;
    margin: 24px 0 0 0;
}


.contentDiv {
    padding: 0;
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}


.postContent, .postTitle {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.postContent {
    font-size: 1rem;
}


.postTitle {
    font-family: "noto-sans-bold-ko", "noto-sans-bold-en";
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
}


.bottomItem {
    display: flex;
    font-family: "noto-sans-light-ko", "noto-sans-light-en";
    font-size: 1rem;
}


a {
    text-decoration: none;
    height: auto;
}