.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.DesignListNav {

}


.DesignList {
    padding-left: 20px;
    margin-left: 20px;
}


.DesignList li {
    margin: 20px auto 60px auto;
}