.mainButton {
    border: none;
}


.mainButton span {
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    animation: animate 0.35s linear;
}


@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}